---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about-hero.webp"
					alt="Jeanine White at projects with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a Computer Science student at the University of West Florida (UWF), with a concentration in Artificial Intelligence and Software Engineering. Some of the things im passionate about in this industry include computer vision, human-macine interfaces, and automated reasoning.
					</p>
					<br />
					<p>
						Other than software engineering, I'm passionate about cooking and sharing good food with the people I love. I also like to play videogames when I have the time, thought there hasnt been much of that recently. 
					</p>
					<br />
					<p>
						I also love learning outside of what im taught in class. I spend a lot of time (maybe too much) wathing educational YouTube videos. Addiionally, I love sharing my knowledge with others. When someone has an issue, I often find myself helping them debug it and coaching them through how to avoid it in the future if I have the knowledge to do so.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5>University of West Florida</h5>
					<p>Computer Science B.S.C.E</p>
					<p>Some of the courses I've taken include:</p>
					<ul>
						<li>Introduction to AI</li>
						<li>Introduction to Big Data Analytics</li>
						<li>Database Design and Development</li>
						<li>Data Structures and Algorithms 1</li>
						<li>And more...</li>
					</ul>
					<p>The amount of knowledge gained from these courses is almost inumerable. Ill try to touch on some of the highlights here.</p>
					<br />
					<p>From Intro to AI I learned about the history of AI, and some of the basic forms of AI which we take advantage of daily. Including Search Algorithms, knowledge Representations, and Machine Learning. I also learned a lot from the project I completed with the help of Joel Ward. We chose to create an <a target="_self" href="https://www.davidhuson.dev/projects/image-classifier">Image Classifier</a> in python using Tenforflow and Keras. See my <a target="_self" href="https://www.davidhuson.dev/projects/image-classifier">blog post</a> for more details.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
